<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div id="background"></div>
    <section>
        <div class="set">
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
           <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
           <div><img src="static/img/PixelArt.png"></div>
        </div>
        <div class="set set2">
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
           <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
           <div><img src="static/img/PixelArt.png"></div>
        </div>
        <div class="set set3">
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
           <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
            <div><img src="static/img/PixelArt.png"></div>
           <div><img src="static/img/PixelArt.png"></div>
        </div>
    </section>
    <div id="wrapper">
        <form class="generator-form" method="POST" action="generate">
            <div class="interior-generator-form">
                <span>Generate password</span>
                <div class="generated-password-form">{{ password }}</div>
                <input type="submit" name="generator" class="generate-form-btn" value="generate" id="generate-password">
            </div>
        </form>
    </div>
</body>
</html>